@import 'styles/vars';

.programContainer {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8rem;
    margin-top: 4rem;
    // max-height: 540px;

    .programImage {
        max-height: 540px;
        overflow: hidden;
        border-radius: 4px;

        display: block;
        width: 100%;
        box-shadow: 
            0 12px 24px rgba(0,0,0,0.3),
            0 0 6px rgba(0,0,0,0.3)
        ;

    }

}

@media screen and (min-width:64em) {

    .programContainer {
        display: grid;
        gap: 4rem;
        grid-template-columns: 1fr 1fr;
        .programImage {
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }

    .programContainer.programContainer--smallImage {
        grid-template-columns: 1fr 2fr;
    }

    .programContainer--swap {
        grid-template-columns: 1fr 1fr;
        .programImage {
            grid-column-start: 2;
            grid-row-start: 1;
        }
    }

    .programContainer--swap.programContainer--smallImage {
        grid-template-columns: 2fr 1fr;
    }

}